/* Media query */

@media (min-width: 540px) and (max-width: 767px) {
  body {
    background: var(--Color-Dark-Slate-Grey);
  }
  .bg-white {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    width: 90%;
    margin: 6rem auto;
    align-items: center;
    padding: 1em;
    border-radius: 2rem;
  }

  picture {
    order: 1;
  }

  /* form-container */
.form-container {
  padding: 1.5em;
}

/* form-container Text */
.form-container h1 {
  font-size: clamp(1.7rem, 0.748rem + 2.819vw, 2.1rem);
}

.form-container p {
  font-size: clamp(0.7rem, 0.224rem + 1.41vw, 0.9rem);
  text-wrap: pretty;
}

/* form-container List */
.form-container ul {
  margin-top: 1.5rem;
}

.form-container ul img {
  width: 7%;
}

.form-container ul li {
  font-size: clamp(0.7rem, 0.224rem + 1.41vw, 0.9rem);
  text-wrap: pretty;
}

.form input::placeholder {
  font-size: .7rem;
}

/* Form styling */
.form {
  margin-top: 1.5rem;
  gap: .7rem;
}

.form label {
  font-size: .6em;
}

.form input,
.form button {
  font-size: .7rem;
  padding: .7rem;
}

.form .form-field__messages {
  font-size: .7rem;
  top: 1.8rem;
}
}

/* CSS for tablets in landscape */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background: var(--Color-Dark-Slate-Grey);
  }
  .bg-white {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    width: 80%;
    margin: 6rem auto;
    align-items: center;
    padding: 1.5em;
    border-radius: 2rem;
  }

  picture {
    order: 1;
  }

  /* form-container */
.form-container {
  padding: 1.5em;
}

/* form-container Text */
.form-container h1 {
  font-size: clamp(2.1rem, -0.6rem + 5.625vw, 3rem);
}

.form-container p {
  font-size: clamp(0.9rem, 0.6rem + 0.625vw, 1rem);
  text-wrap: pretty;
}

/* form-container List */
.form-container ul {
  margin-top: 1.5rem;
}

.form-container ul img {
  width: 7%;
}

.form-container ul li {
  font-size: clamp(0.9rem, 0.6rem + 0.625vw, 1rem);
  text-wrap: pretty;
}

.form input::placeholder {
  font-size: .7rem;
}

/* Form styling */
.form {
  margin-top: 2rem;
  gap: .7rem;
}

.form label {
  font-size: .7em;
}

.form input,
.form button {
  font-size: .9rem;
  padding: .8rem;
}

.form .form-field__messages {
  font-size: .7rem;
  top: 1.8rem;
}
}

/* CSS for small laptops */
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background: var(--Color-Dark-Slate-Grey);
  }
  .bg-white {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    width: 60%;
    margin: 6rem auto;
    align-items: center;
    padding: 1.5em;
    border-radius: 2rem;
  }

  picture {
    order: 1;
  }

  /* form-container */
.form-container {
  padding: 1.5em;
}

/* form-container Text */
.form-container h1 {
  font-size: clamp(1.7rem, -3.124rem + 7.529vw, 2.9rem);
}

.form-container p {
  font-size: clamp(0.7rem, 0.224rem + 1.41vw, 0.9rem);
  text-wrap: pretty;
}

/* form-container List */
.form-container ul {
  margin-top: 1.5rem;
}

.form-container ul img {
  width: 7%;
}

.form-container ul li {
  font-size: clamp(0.7rem, 0.224rem + 1.41vw, 0.9rem);
  text-wrap: pretty;
}

.form input::placeholder {
  font-size: .7rem;
}

/* Form styling */
.form {
  margin-top: 2rem;
  gap: .7rem;
}

.form label {
  font-size: .7em;
}

.form input,
.form button {
  font-size: .8rem;
  padding: .7rem;
}

.form .form-field__messages {
  font-size: .7rem;
  top: 1.8rem;
}
}

/* CSS for regular desktops */
@media (min-width: 1281px) and (max-width: 1440px) {
  body {
    background: var(--Color-Dark-Slate-Grey);
  }
  .bg-white {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    width: 58%;
    margin: 4rem auto;
    align-items: center;
    padding: 1.5em;
    border-radius: 2rem;
  }

  picture {
    order: 1;
  }

  /* form-container */
.form-container {
  padding: 1.5em;
}

/* form-container Text */
.form-container h1 {
  font-size: clamp(1.7rem, -3.124rem + 7.529vw, 2.9rem);
}

.form-container p {
  font-size: clamp(0.7rem, 0.224rem + 1.41vw, 0.9rem);
  text-wrap: pretty;
}

/* form-container List */
.form-container ul {
  margin-top: 1.5rem;
}

.form-container ul img {
  width: 7%;
}

.form-container ul li {
  font-size: clamp(0.7rem, 0.224rem + 1.41vw, 0.9rem);
  text-wrap: pretty;
}

.form input::placeholder {
  font-size: .9rem;
}

/* Form styling */
.form {
  margin-top: 2rem;
  gap: .7rem;
}

.form label {
  font-size: .7em;
}

.form input,
.form button {
  font-size: .9rem;
  padding: .8rem;
}

.form .form-field__messages {
  top: 1.8rem;
}
}

/* CSS for large desktops */
@media (min-width: 1921px) {
  body {
    background: var(--Color-Dark-Slate-Grey);
  }
  .bg-white {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin: 4rem auto;
    align-items: center;
    padding: 1.5em;
    border-radius: 2rem;
  }

  picture {
    order: 1;
  }

  /* form-container */
.form-container {
  padding: 1.5em;
}

/* form-container Text */
.form-container h1 {
  font-size: clamp(1.7rem, -3.124rem + 7.529vw, 2.9rem);
}

.form-container p {
  font-size: clamp(0.7rem, 0.224rem + 1.41vw, 0.9rem);
  text-wrap: pretty;
}

/* form-container List */
.form-container ul {
  margin-top: 1.5rem;
}

.form-container ul img {
  width: 7%;
}

.form-container ul li {
  font-size: clamp(0.7rem, 0.224rem + 1.41vw, 0.9rem);
  text-wrap: pretty;
}

.form input::placeholder {
  font-size: .7rem;
}

/* Form styling */
.form {
  margin-top: 2rem;
  gap: .7rem;
}

.form label {
  font-size: .7em;
}

.form input,
.form button {
  font-size: .9rem;
  padding: .8rem;
}

.form .form-field__messages {
  top: 1.8rem;
}
}



