@font-face {
  font-family: "Roboto";
  src: 
    local( "Roboto" ),
    url( "../fonts/Roboto-Regular.ttf" ) format( "truetype" );
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url( "../fonts/Roboto-Regular.ttf" ) format( "truetype" );
}

:root {
  /* Primary color */
  --Color-Tomato: hsl(4, 100%, 67%);

  /* Neutral color */
  --Color-Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Color-Charcoal-Grey: hsl(235, 18%, 26%);
  --Color-Grey: hsl(231, 7%, 60%);
  --Color-White: hsl(0, 0%, 100%);

  /* Font size */
  --Font-size-button: 1.1em;
  --Font-size-1: 1em;
  --Font-size-09: 0.9em;
  --Font-size-08: 0.8em;
  --Font-size-07: 0.7em;
  --Font-size-06: 0.6em;

  /* Font family */
  --font-family: "Roboto", sans-serif;

  /* Font weight */
  --font-weight-400: 400;
  --font-weight-700: 700;

  /* Margins */
  --Margin-top-05rem: 0.5rem;
  --Margin-top-1rem: 1rem;
}

#root, #__next {
  isolation: isolate;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  color: var(--Color-Dark-Slate-Grey);
  font-family: var(--font-family);
  font-size: var(--Font-size-paragraph);
  font-weight: var(--font-weight-400);
  line-height: 1.5;

  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* **************************************************************************************************** */
.container {
  background: var(--Color-White);
  padding: 1.5em;
}

.flex {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14rem;
}

.content h1, .content p {
  margin-top: 2rem;
  width: 100%;
  text-wrap: wrap;
}

.content h1 {
  font-size: 2.3em;
  font-weight: var(--font-weight-700);
  line-height: 1.1;
}

.content span {
  font-weight: var(--font-weight-700);
}

.content p {
  font-size: 1.2em;
}

.btn button {
  display: grid;
  text-align: center;
  font-weight: var(--font-weight-700);
  width: 100%;
  padding: .8em;
  border-radius: .4rem;
  border: none;
  color: var(--Color-White);
  background: var(--Color-Dark-Slate-Grey);
  cursor: pointer;
  transition: all ease .2s;
}

.btn button:hover {
  background: var(--Color-Tomato);
  box-shadow: 4px 4px 14px var(--Color-Tomato);
}

/* ************************************************************************************************** */

@media (min-width: 540px) and (max-width: 767px) {
  body {
    background: var(--Color-Dark-Slate-Grey);
  }

  .container {
    width: 60%;
    height: auto;
    margin: 6rem auto;
    padding: 3em;
    border-radius: 2rem;
  }

  .flex {
    gap: 2rem;
    box-shadow: 4px 10px 14px rgba(0, 0, 0, 0.2);
  }

  .content h1 {
    font-size: clamp(2.5rem, 0.597rem + 5.639vw, 3.3rem);
    line-height: 1;
  }

  .content p {
    font-size: clamp(0.8rem, 0.324rem + 1.41vw, 1rem);
  }

}

/* CSS for tablets in landscape */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background: var(--Color-Dark-Slate-Grey);
  }

  .container {
    width: 46%;
    height: auto;
    margin: 6rem auto;
    padding: 3em;
    border-radius: 2rem;
  }

  .flex {
    gap: 2rem;
    box-shadow: 4px 10px 14px rgba(0, 0, 0, 0.2);
  }

  .content h1 {
    font-size: clamp(2.9rem, 1.7rem + 2.5vw, 3.3rem);
    line-height: 1;
  }

  .content p {
    font-size: 1em;
  }
}

/* CSS for small laptops */
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background: var(--Color-Dark-Slate-Grey);
  }

  .container {
    width: 36%;
    height: auto;
    margin: 6rem auto;
    padding: 3em;
    border-radius: 2rem;
  }

  .flex {
    gap: 2rem;
    box-shadow: 4px 10px 14px rgba(0, 0, 0, 0.2);
  }

  .content h1 {
    font-size: clamp(3rem, 1.794rem + 1.882vw, 3.3rem);
    line-height: 1;
  }

  .content p {
    font-size: clamp(0.8rem, 0.324rem + 1.41vw, 1rem);
  }
}

/* CSS for regular desktops */
@media (min-width: 1281px) and (max-width: 1440px) {
  body {
    background: var(--Color-Dark-Slate-Grey);
  }

  .container {
    width: 32%;
    height: auto;
    margin: 8rem auto;
    padding: 3em;
    border-radius: 2rem;
  }

  .flex {
    gap: 2rem;
    box-shadow: 4px 10px 14px rgba(0, 0, 0, 0.2);
  }

  .content h1 {
    font-size: clamp(2.8rem, -1.228rem + 5.031vw, 3.3rem);;
    line-height: 1;
  }

  .content p {
    font-size: clamp(0.8rem, 0.324rem + 1.41vw, 1rem);
  }
}

/* CSS for large desktops */
@media (min-width: 1921px) {
  body {
    background: var(--Color-Dark-Slate-Grey);
  }

  .container {
    width: 34%;
    height: auto;
    margin: 10rem auto;
    padding: 3em;
    border-radius: 2rem;
  }

  .flex {
    gap: 2rem;
    box-shadow: 4px 10px 14px rgba(0, 0, 0, 0.2);
  }

  .content h1 {
    font-size: clamp(2.8rem, -1.228rem + 5.031vw, 3.3rem);;
    line-height: 1;
  }

  .content p {
    font-size: clamp(0.8rem, 0.324rem + 1.41vw, 1rem);
  }
}
